# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using `surprise`. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives

In this lab you will: 

- Use surprise's built-in reader class to process data to work with recommender algorithms 
- Obtain a prediction for a specific user for a particular item 
- Introduce a new user with rating to a rating matrix and make recommendations for them 
- Create a function that will return the top n recommendations for a user

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last lesson, you were exposed to working with `surprise` datasets. In this lab, you will also go through the process of reading in a dataset into the `surprise` dataset format. To begin with, load the dataset into a Pandas DataFrame. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [1]:
import pandas as pd
df = pd.read_csv('./ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [3]:
# Drop unnecessary columns
new_df = df.drop('timestamp', axis = 1)
new_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

It's now time to transform the dataset into something compatible with `surprise`. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [5]:
from surprise import Reader, Dataset

# read in values as Surprise dataset 
reader = Reader()
data = Dataset.load_from_df(new_df, reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [6]:
dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

## Determine the best model 

Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [7]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [9]:
## Perform a gridsearch with SVD
# ⏰ This cell may take several minutes to run

param_grid = { 'n_factors': [20, 30, 50], 
               'reg_all' : [0.02, 0.05]}

gs = GridSearchCV(SVD, param_grid = param_grid, n_jobs = -1)
gs.fit(data)

In [12]:
# print out optimal parameters for SVD after GridSearch
gs.best_params

{'rmse': {'n_factors': 50, 'reg_all': 0.05},
 'mae': {'n_factors': 50, 'reg_all': 0.02}}

In [13]:
gs.best_score

{'rmse': 0.869035842823162, 'mae': 0.6678693736041288}

In [15]:
# cross validating with KNNBasic
knn = KNNBasic(sim_options = {'name':'pearson', 'user_based' : True})
cv_knn = cross_validate(knn, data, n_jobs = -1)

In [18]:
np.mean(cv_knn['test_rmse'])

0.9719838917640052

In [15]:
# print out the average RMSE score for the test set

('test_rmse', array([0.97646619, 0.97270627, 0.97874535, 0.97029184, 0.96776748]))
('test_mae', array([0.75444119, 0.75251222, 0.7531242 , 0.74938542, 0.75152129]))
('fit_time', (0.46678805351257324, 0.54010009765625, 0.7059998512268066, 0.5852491855621338, 1.0139541625976562))
('test_time', (2.308177947998047, 2.4834508895874023, 2.6563329696655273, 2.652374029159546, 1.2219891548156738))
-----------------------
0.9731954260849399

In [19]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options = {'name':'pearson', 'user_based' : True})
cv_knn_baseline = cross_validate(knn_baseline, data, n_jobs = -1)

In [20]:
np.mean(cv_knn_baseline['test_rmse'])

0.8760464801048766

In [17]:
# print out the average score for the test set

('test_rmse', array([0.87268017, 0.88765352, 0.87311917, 0.88706914, 0.87043399]))
('test_mae', array([0.66796685, 0.676203  , 0.66790869, 0.67904038, 0.66459155]))
('fit_time', (0.6972200870513916, 0.7296440601348877, 0.5842609405517578, 0.609612226486206, 0.61130690574646))
('test_time', (1.5466029644012451, 1.567044973373413, 1.6441452503204346, 1.5709199905395508, 1.6216418743133545))

0.8781911983703239

Based off these outputs, it seems like the best performing model is the SVD model with `n_factors = 50` and a regularization rate of 0.05. Use that model or if you found one that performs better, feel free to use that to make some predictions.

## Making Recommendations

It's important that the output for the recommendation is interpretable to people. Rather than returning the `movie_id` values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peek at what information we have about them.

In [21]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv')

In [22]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [23]:
svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [73]:
svd.predict(1, 6)

Prediction(uid=1, iid=6, r_ui=None, est=4.602893798382711, details={'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings 

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step is to create a function that allows us to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it. 

The function `movie_rater()` should take as parameters: 

* `movie_df`: DataFrame - a dataframe containing the movie ids, name of movie, and genres
* `num`: int - number of ratings
* `genre`: string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int , 'movieId': int , 'rating': float}

#### This function is optional, but fun :)

In [47]:
def movie_rater(movie_df,num, genre=None):
    userId = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :')
        if rating == 'n':
            continue
        else:
            movie_rating = {'userId' : userId, 'movieId': movie['movieId'].values[0], 'rating': rating}
            rating_list.append(movie_rating)
            num -= 1
    return rating_list

In [54]:
user_rating = movie_rater(df_movies, 5)

      movieId                    title   genres
2414     3206  Against All Odds (1984)  Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                   title       genres
3454     4711  Theremin: An Electronic Odyssey (1993)  Documentary
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                      title genres
5450    26082  Harakiri (Seppuku) (1962)  Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId          title genres
5377     8966  Kinsey (2004)  Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                     title           genres
3071     4124  Jaws: The Revenge (1987)  Horror|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                title                    genres
3576     4899  Black Knight (2001)  Adventure|Comedy|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :4
      movieId               title        genres
7588    86320  Melancholia (2011)  Drama|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                   title        genres
2298     3045  Peter's Friends (1992)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId               title                    genres
7643    88108  Monte Carlo (2011)  Adventure|Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId             title                     genres
5004     7743  Explorers (1985)  Adventure|Children|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId        title         genres
4517     6691  Dust (2001)  Drama|Western
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                          title  genres
7019    68444  Great Buck Howard, The (2008)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                  title genres
6071    40966  Libertine, The (2004)  Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId       title               genres
8889   134368  Spy (2015)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                          title  genres
8834   131934  The Malibu Bikini Shop (1986)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                  title                 genres
1349     1835  City of Angels (1998)  Drama|Fantasy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                        title  genres
8680   122627  Oblivion 2: Backlash (1996)  Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId             title                    genres
8132   101577  Host, The (2013)  Action|Adventure|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                             title  genres
2821     3769  Thunderbolt and Lightfoot (1974)  Action
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                title                 genres
9080   142961  Life Eternal (2015)  Comedy|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId             title                       genres
8759   128488  Wild Card (2015)  Action|Crime|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                              title  \
5238     8582  Manufacturing Consent: Noam Chomsky and the Me...

               genres
5238  Documentary|War
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                   title                              genres
3657     5027  Another 48 Hrs. (1990)  Action|Comedy|Crime|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                         title           genres
8328   107449  Muppet Christmas: Letters to Santa, A (2008)  Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                title                        genres
7564    85510  Sucker Punch (2011)  Action|Fantasy|Thriller|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :3
      movieId                     title                   genres
8130   101529  Brass Teapot, The (2012)  Comedy|Fantasy|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
     movieId                    title          genres
532      627  Last Supper, The (1995)  Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                title                genres
9308   159193  Café Society (2016)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                   title  genres
2105     2799  Problem Child 2 (1991)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                 title       genres
7582    86279  Into Eternity (2010)  Documentary
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                          title  genres
7815    92535  Louis C.K.: Live at the Beacon Theater (2011)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                         title genres
1088     1413  Whole Wide World, The (1996)  Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId            title          genres
2168     2884  Dog Park (1998)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId               title            genres
3856     5420  Windtalkers (2002)  Action|Drama|War
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                              title  \
9562   173535  The Adventures of Sherlock Holmes and Doctor W...

                  genres
9562  (no genres listed)
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                      title genres
2365     3135  Great Santini, The (1979)  Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                      title                        genres
8613   118354  Kill the Messenger (2014)  Crime|Drama|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                            title        genres
3530     4825  Swamp, The (Ciénaga, La) (2001)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                      title          genres
6967    66198  International, The (2009)  Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                         title  \
8794   130050  Digging Up the Marrow (2014)

                                     genres
8794  Drama|Fantasy|Horror|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
     movieId                   title  genres
405      467  Live Nude Girls (1995)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
     movieId         title                        genres
661      866  Bound (1996)  Crime|Drama|Romance|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                  title          genres
6088    42002  Producers, The (2005)  Comedy|Musical

How do you rate this movie on a scale of 1-5, press n if you have not seen :4
      movieId                 title          genres
1062     1379  Young Guns II (1990)  Action|Western
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                              title                   genres
7329    77798  Nightmare on Elm Street, A (2010)  Fantasy|Horror|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId             title                       genres
5643    27420  Teknolust (2002)  Comedy|Drama|Romance|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                              title  \
8324   107410  Guest from the Future (Gostya iz buduschego) (...

                      genres
8324  Adventure|Drama|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                                    title  genres
5222     8528  Dodgeball: A True Underdog Story (2004)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
     movieId        title                  genres
567      692  Solo (1996)  Action|Sci-Fi|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId              title  genres
4245     6188  Old School (2003)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId              title genres
6066    40870  C.R.A.Z.Y. (2005)  Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                   title                     genres
9590   175475  The Emoji Movie (2017)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                   title       genres
1078     1398  In Love and War (1996)  Romance|War
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                  title                         genres
6962    65882  Uninvited, The (2009)  Drama|Horror|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId           title                genres
3016     4034  Traffic (2000)  Crime|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId          title                                    genres
7639    87876  Cars 2 (2011)  Adventure|Animation|Children|Comedy|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :3
      movieId                    title                        genres
9047   141818  Ordinary Miracle (1978)  Comedy|Drama|Fantasy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :n
      movieId                  title                  genres
8179   102903  Now You See Me (2013)  Crime|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :5

In [55]:
user_rating

[{'userId': 1000, 'movieId': 4899, 'rating': '4'},
 {'userId': 1000, 'movieId': 85510, 'rating': '3'},
 {'userId': 1000, 'movieId': 42002, 'rating': '4'},
 {'userId': 1000, 'movieId': 87876, 'rating': '3'},
 {'userId': 1000, 'movieId': 102903, 'rating': '5'}]

In [37]:
# try out the new function here!

      movieId                   title          genres
6579    55245  Good Luck Chuck (2007)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId                       title          genres
1873     2491  Simply Irresistible (1999)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId                  title  genres
3459     4718  American Pie 2 (2001)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId             title                   genres
4160     5990  Pinocchio (2002)  Children|Comedy|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [38]:
user_rating

[{'userId': 1000, 'movieId': 55245, 'rating': '5'},
 {'userId': 1000, 'movieId': 2491, 'rating': '4'},
 {'userId': 1000, 'movieId': 4718, 'rating': '4'},
 {'userId': 1000, 'movieId': 5990, 'rating': '3'}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a `surprise` dataset 
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [56]:
## add the new ratings to the original ratings DataFrame
added_ratings = new_df.append(user_rating, ignore_index = True)

In [57]:
added_ratings.head()

   userId  movieId rating
0       1        1      4
1       1        3      4
2       1        6      4
3       1       47      5
4       1       50      5

In [58]:
new_data = Dataset.load_from_df(added_ratings, reader)

In [59]:
# train a model using the new combined DataFrame
svd = SVD(n_factors=50, reg_all=0.05)
svd.fit(new_data.build_full_trainset())

In [62]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
list_of_movies = []
for movie_id in new_df['movieId'].unique():
    prediction = svd.predict(1000, movie_id)[3]
    list_of_movies.append((movie_id, prediction))

In [63]:
# order the predictions from highest to lowest rated
ranked_movies = sorted(list_of_movies, key = lambda x: x[1], reverse = True)

In [64]:
ranked_movies[:5]

[(1204, 4.581974681356739),
 (318, 4.560402633399134),
 (750, 4.530430075910045),
 (741, 4.479380442491984),
 (1136, 4.46525988791567)]

 For the final component of this challenge, it could be useful to create a function `recommended_movies()` that takes in the parameters:
* `user_ratings`: list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df`: DataFrame 
* `n`: int - number of recommended movies 

The function should use a `for` loop to print out each recommended *n* movies in order from best to worst

In [69]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
    for index, movie in enumerate(user_ratings):
        title = movie_title_df.loc[movie_title_df['movieId']== movie[0]]['title']
        print(f'Recommendation # {index}: {title} \n')
        n -= 1
        if n == 0:
            break
recommended_movies(ranked_movies,df_movies,5)

Recommendation # 0: 906    Lawrence of Arabia (1962)
Name: title, dtype: object

Recommendation # 1: 277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation # 2: 602    Dr. Strangelove or: How I Learned to Stop Worr...
Name: title, dtype: object

Recommendation # 3: 596    Ghost in the Shell (Kôkaku kidôtai) (1995)
Name: title, dtype: object

Recommendation # 4: 863    Monty Python and the Holy Grail (1975)
Name: title, dtype: object

## Level Up (Optional)

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top $n$ recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the chance to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will learn how to use Spark to make recommender systems.